/***********************************************
FONTS, TEXT, COLOURS
***********************************************/

/*
#D30082 - Bright Pink
#373741 - Gray
*/

/*.side-part>h1, h2, h3, h4, h5 {
	font-family: 'Overpass Mono', monospace;
	padding-bottom: 20px;
}*/

a { 
    font-family: 'Karla', sans-serif;
}

#name {
	font-family: 'Oswald', sans-serif;
	color: /*#D30082;*/
	text-transform: uppercase;
	padding-bottom: 5px;
	font-size: 3.2em;
}

#linkedin {
	font-family: 'Lora', serif;
}

.my-role {
	font-family: 'Lora', serif;
	text-transform: capitalize;
	font-style: italic;
	font-size: 1.2em;
	letter-spacing: 5px;
}




/***********************************************
General
***********************************************/

#linkedin {
	text-transform: lowercase;
	letter-spacing: 1px;
	font-style: none;
}

.side-heading {
	font-family: 'Oswald', sans-serif;
	color: #F50097;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin-top: 30px;
	font-size: 1.8em;
}

.main-heading {
	font-family: 'Oswald', sans-serif;
	color: #373741;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 20px;
	margin-top: 30px;
	font-size: 1.8em;
}

.heading {
	padding-bottom: 20px;
}

.sub-head {
	font-size: 1.2em;
	font-weight: bold; 
	text-transform: uppercase;
}

a.sub-head {
	font-size: 1.2em;
}

/*.side-part {
	margin-bottom: 50px;
}*/

.main {
	background-color: white;
	color: #373741;
	display: table-cell;
	padding: 30px;
}

.side-section {
	background-color: #373741;
	display: table-cell;
	margin-left: 0px;
	padding: 30px;
}

.navbar-default {
	
}

.skill-list{
	/*line-height: 30px;*/
	padding-bottom: 20px;
}

.download-link {
	padding: 10px 15px;
	margin: 25px 0px;
}

.download-cv {
	padding: 25px 10px 35px 10px;
}

li {
	line-height: 30px;
}

/*ul {
	padding-bottom: 30px;
}*/

.sect {
	padding-bottom: 10px;
}

/***********************************************
Other
***********************************************/



/***********************************************

***********************************************/

